.itemContainer {
display: flex;
margin: 0 auto;
margin-top: 15px;
width: 1200px;
}

.divImgCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 230px;
  height: 260px;
  
  border-radius: 5px;
}

.imgCard {
  /* margin: 20px; */
  /* width: 215px; */
  height: 240px;
}

.iconList {
  display: flex;
  width: 230px;
  margin-top: 40px;
  justify-content: space-between;
  border-radius: 5px;
  border: 2px solid #2b4170;
  background-color: rgba(43, 65, 112, 0.5);
  padding: 5px;
}

.iconItem {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 50px;
  
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;

  color: #2b4170;
  margin-left: auto;
  padding: 30px;
  background-color: rgba(222, 227, 238, 0.7);
}

.textDescription {
  width: 860px; /* або будь-яка інша ширина */
  word-wrap: break-word; /* Переносити слова, якщо вони довші за ширину контейнера */
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.01em;
  /* border-radius: 15px;
  border: 2px solid #2b4170;
  background-color: rgba(43, 65, 112, 0.5); */
  padding: 10px;
  margin-top: 20px;
}

.imgLogoM {
  /* height: 260px; */
  width: 470px;
  margin: auto;
  /* border-radius: 15px; */
  /* background-color: rgba(222, 227, 238, 0.9); */
  /* border: 2px solid #2b4170; */
  
}