
.webTitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
  list-style-type: none;
  padding: 0;
  gap: 40px;
}

.listItem {
  display: flex;
  justify-content: space-between;

  padding: 10px 20px;
  margin-bottom: 12px;
  height: 100px;

  background-color: rgba(222, 227, 238, 0.9);
  border-radius: 5px;
  color: #1b1c1d;
}
/* 
.span {
  
  list-style-type: none;
} */

/* .distributorName {
  display: inline-block;
  width: 350px;
  
  font-weight: bold;
  font-size: 18px;

} */

.link {
  text-decoration: none;
  color: #2b4170; /* Колір посилання */
  margin-bottom: 5px;

}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}


/* ======================== */
