
.mainContainer {
  background-image: url(../../images/sky01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 150px);
}

.detailsContainer {
    padding: 15px;
    max-width: 375px;
    margin: 0 auto;
}

.arrowIcon {
  transform: scaleX(-1);
  /* margin-left: 40px; */
  transition: all 0.3s ease;
}

.arrowIcon:focus, .arrowIcon:hover {
  transform: scale(-1.05);
  fill: #FFC531;
}

@media screen and (min-width: 768px) {
  .detailsContainer {
    padding: 15px 40px 40px 40px;
    max-width: 768px;
}
}

@media screen and (min-width: 1024px) {.detailsContainer {
    max-width: 1024px;
}
}


@media screen and (min-width: 1440px) {
  .detailsContainer {
    max-width: 1440px;
}
}