.detailsContainer {
    padding: 15px 40px;
    max-width: 1392px;
    margin: 0 auto;
}

.arrowIcon {
  transform: scaleX(-1);
  margin-left: 40px;
}

.arrowIcon:focus, .arrowIcon:hover {
  transform: scale(-1.05);
  fill: #FFC531;
}