
.mainContainer {
    background-image: url(../../images/sky01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.projectContainer {
    padding: 40px 40px;
    max-width: 1440px;
    margin: 0 auto;
}

.text {
    margin-bottom: 20px;
}