
.footer {
  background-color: #2b4170;
  color: #f7f7f7;
  padding: 15px 20px;
  text-align: center;
  border-top: 1px solid rgb(124, 146, 176);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 335px;
  margin: 0 auto;
}

.logoSection {
  display: flex;
}

.logoContainer {
  margin-right: 20px;
  width: 100px;
}

/* Contact and address styling */
.headerAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.contactItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.contactItem:hover,
.contactItem:focus {
  color: #FFC531;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.icon {
  margin-right: 8px;
}

/* Logo active state */
.logoActive {
  fill: #FFC531;
}

/* Nav section */
.navContainer { 
  display: flex;
  gap: 40px;
}

.navLink {
  color: #f7f7f7;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #FFC531;
}

/* Copyright styling */
.copyright {
  margin-top: 10px;
  border-top: 1px solid rgb(124, 146, 176);
  padding-top: 20px;
}

.copyright p {
  margin: 0;
  font-size: 0.9rem;
}


@media screen and (min-width: 768px) {
  .footerContainer {  
  max-width: 768px;
  flex-direction: row;
}

.navContainer { 
  display: flex;
  flex-direction: column;
  margin-left: auto;
  row-gap: 0;
  gap: 10px;
}
}


@media screen and (min-width: 1392px) {
    .footerContainer {  
  max-width: 1392px;
}
}
