.projectsSection {
  /* display: flex;
  flex-wrap: wrap; */
}

.listProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.itemProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 340px;
  padding: 20px;
  /* border: 2px solid rgba(43, 65, 112, 1); */
  border: 2px solid #2b4170;
  border-radius: 5px;
  /* background-color: rgba(0, 255, 255, 0.5); Напівпрозорий фон */
  background-color: rgba(43, 65, 112, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анімація для об'ємного ефекту */
  /* overflow: hidden; */
}

/* Ефект при наведенні */
.itemProjects:hover {
  transform: scale(1.05); /* Збільшення розміру */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Об'ємний тіньовий ефект */
  background-color: rgba(43, 65, 112, 0.8); /* Трохи менш прозорий фон при наведенні */
}


.imgProjects {
  height: 240px;
  /* background: transparent;
  width: 220px;
  margin-bottom: auto; */
}

.cardProjects{
display: flex;
justify-content: center;
align-items: flex-end;

}
.textProjects {
  padding: 10px 10px 0 10px; /* Відступи всередині заголовка */
  text-align: center; /* Вирівнювання тексту по центру */
  text-shadow:  2px 2px 1px rgb(132, 5, 27);;
}


/* 
.cardProjects {
  position: relative;
  display: flex;
  justify-content: center; Вирівнювання по центру */
  /* align-items: flex-end;*/   /* Вирівнювання заголовка внизу картки */
  /* height: 100%;
}  */

.textProjects {
  /* border: 2px solid black; Чорний ободок навколо заголовка */
  /* box-sizing: border-box; Щоб ободок не розтягував ширину заголовка */
}
