.mainContainer {
  background-image: url(../../images/sky01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: calc(100vh - 150px);
}

.webContainer{
    padding: 40px 40px;
    max-width: 1440px;
    margin: 0 auto;
}