
.mainContainer {
  width: 100%;
  padding-bottom: 150px;
}

.homeContainer {  
  padding: 10px;
  margin-bottom: 20px;
  
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.textContainer {
  margin-bottom: 15px;
}


.title {
  display: inline-block;
  width: 270px;
  font-size: 2rem;
  letter-spacing: 0.02em;
  /* color: #2b4170; */
  /* margin: 0; */
}

.description {
  display: inline-block;
  width: 355px;
  text-align: center;
  font-size: 1.1rem;
  /* color: #444; */
  margin-top: 10px;
  line-height: 1.6;
}

.homeImage {
  margin: 0 auto;
  border-radius: 8px;
  width: 338px;
  height: 158px;
}

@media screen and (min-width: 768px) {
  .homeContainer {
    padding: 40px;
    max-width: 768px;
}

.title {
  /*  міняти шрифт */
  width: 688px;
}

.description {
  width: 688px;
  
}

.homeImage {
  width: 688px;
  height: 313px;
}

}


@media screen and (min-width: 1024px) {
  .homeContainer {
  max-width: 1024px;
  }

  .title {
  width: 768px;
}

.description {
  width: 800px;
}
  
.homeImage {
  width: 930px;
  height: 434px;
}
}


@media screen and (min-width: 1440px) {

  .homeContainer {
    max-width: 1440px;
  }

  .description {
  width: 1000px;
}
  
.homeImage {
  width: 1200px;
  height: 560px;
}
}

